.information {
  margin-top: 20px;
}

.inner {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 12px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (max-width: $media-tablet) {
  .inner {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media (max-width: $media-mobile) {
  .options {
    grid-template-columns: 1fr;
  }
}